.topBar {
  display: flex;
  padding: 1rem;
  background-color: white;
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  display: flex;
  align-items: center;
}

.name {
  font-size: 50px;
  margin: 0 auto;
}

.count {
  font-size: 30px;
  padding-left: 10px;
}

.editButton {
  width: 150px;
  height: 60px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
