.controls {
  display: flex;
  gap: 1rem;
  text-align: left;
  align-items: center;
}

.control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 10rem;
  max-width: 100%;
}

.buttons {
  margin-left: 1.2em;
  text-align: right;
}
